extends ../layout

block content
	h1 Alteração de Usuário
	hr
	
	form(method="POST",action="/usuarios/edit/#{value._id}", role="form")
		input(type="hidden" name="_method" value="put")
		div(class="form-group")
		label Name:
		input(type="text", name="nome", class="form-control", value="#{value.nome}")
		div(class="form-group")
		label login:
		input(type="text", name="login", class="form-control", value="#{value.login}")
		br
		br
		a(href="/veiculos/edit/#{value._id}" title="Voltar", class= "btn btn-success") Cadastrar/Alterar Veículo
		br
		br
		input(type="submit", value="Atualizar", class= "btn btn-success")
		a(href="/usuarios" title="Voltar", class= "btn btn-warning") Voltar