extends ../layout

block content
	h1 Cadastros de veículos
	hr
	
	form(method="POST",action="/veiculos", role="form")
		div(class="form-group")
		label Modelo:
		input(type="text", name="modelo", class="form-control")
		div(class="form-group")
		label Marca:
		input(type="text", name="marca", class="form-control")
		div(class="form-group")
		label Placa:
		input(type="text", name="placa", class="form-control")
		div(class="form-group")
		label Cor:
		input(type="text", name="cor", class="form-control")
		div(class="form-group")
		div(class="form-group")
		input(type="hidden", name="id_usuario", value="#{value}",class="form-control")
		div(class="form-group")
		input(type="submit", value="cadastrar", class= "btn btn-success")
		a(href="/veiculos" title="Voltar", class= "btn btn-warning") Voltar